.character-list-container
{
    display:flex;
    width:600px;
    background-color: yellow;
    margin:2rem auto;
    justify-content: center;
}

.character-props-container{
    background-color: brown;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 25px 50px 0 rgba(0, 0, 0, 0.30);
    border-radius: 1px;
    border: 1px solid #443e3e;
    padding: 2rem;
    color: white;
}


.character-props-container > h2{
   font-size: 2rem;
   margin-bottom: 2rem;
}


/*---------------
*/



.property-row-container{
    margin-bottom: 6px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.property-row-container label{
    font-size: 1.4rem;
    text-transform: uppercase;
}

.property-row-container h2{
    font-size: 1.4rem;
    display: inline-block;
    margin-left: 6px;
}
